<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>BetQuant</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
       <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
       <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
       <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
       <link href="../static/signup.css" rel="stylesheet">
    </head>
    <body>


<div class="container">


  <h2>BetQuant</h2>
  <form  action="" method="post" role="form">
    <div class="form-group">
      <label for="team">Team Name</label>
      <select name= teams method="POST" action="">
          {% for team in teams %}
          <option value= "{{team}}" SELECTED>{{team}}</option>"
          {% endfor %}
      </select>
      <br>
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
      <br>
      <br>
      <label for="bet">Bid</label>
      <input type="text" class="form-control" id="bet" name="bet" placeholder="Your Bid.">
      <br>
    </div>
    <button type="submit" class="btn btn-success">Bid</button>
  </form>
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message: %}
                <div class="alert alert-info">
                {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}


</div>
<br>
</div>
</div>
<div class = "container">
  <ul id="listWithHandle",class="list-group">
  {% for name in fixtures %}
      <li class="list-group-item">
          <span class="my-handle"></span>
          <input type="hidden" name="handles[]" value="{{ name }}"/> {{ name }}
      </li>
  {% endfor %}
</ul>

</ul>
</div>
</body>
</html>
